<!DOCTYPE html>
<html>
<head>
    <title>Hello</title>
</head>
<body style="font-family: sans-serif; text-align: center; padding-top: 50px;">
    <h1>Hello, {{ inventory_hostname }}</h1>
    <p>This is an Nginx server running in a Docker container.</p>
</body>
</html>
